.link {
	color: gray;
}

body {
	background-color: #2B3D50;
}

#div-main {
	margin: auto;
	min-height: 500px;
	max-width: 800px;
	border: 2px solid black;
	text-align: center;
	position: relative;
	background-color: #F9FAFA;
	color: #2B3D50;
}

#div-foot {
	margin: auto;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}

#div-content {
	font-size: 0.8vw;
	font-family: "Consolas", "Courier New", "Lucida Console", monospace;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	word-break: break-word;
}

#div-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#btn-rand {
	border: none;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	background-color: #DC8250;
	margin-bottom: 10px;
}